/* .dimas {
    background: linear-gradient(90deg, #2f5f9f, #9f5f2f, #9f2f9f);
    background: 90deg, #2f5f9f, #9f5f2f, #9f2f9f;
    background: -webkit-linear-gradient(to left, #2f5f9f, #9f5f2f, #9f2f9f);
    background: linear-gradient(to left, #2f5f9f, #9f5f2f, #9f2f9f);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
} */
